/*Estilização da imagem de fundo do site como um todo*/
body{
    background-image: url(../IMG/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Estilização dos itens do card*/

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image{
    width: 160px;
    margin: 0 auto;
}

.card{
    width: 220px;
    height: 248px;
}

.card-title{
    text-transform: uppercase;
    font-size: 26px;
}
.card-subtitle{
    text-transform: capitalize;
}
.pokedex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

/*Estilização da logo*/
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{    
    width: 320px;
}